graft docs
graft ci
graft aacgmv2/tests
graft c_aacgmv2

recursive-include aacgmv2 *.asc
recursive-include aacgmv2 *.txt

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .isort.cfg
include .pylintrc

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include LICENSE-AstAlg.txt
include README.rst

include tox.ini .travis.yml appveyor.yml .codeclimate.yml .landscape.yaml

global-exclude *.py[cod] __pycache__ *.so *.dylib *.dSYM .pytest_cache
